Django==3.2.25
django-crispy-forms==2.0
crispy-bootstrap4==2022.1
Pillow==10.1.0  # For handling image/file uploads
whitenoise==6.5.0  # For serving static files
gunicorn==21.2.0  # For production deployment
